rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Production floor operations, activities, collaborators, shifts and configurations
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
